body {
    background-image: url("/image/Tokio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.clock {
    margin-top: 23%;
    margin-left:52%;
    display: flex;
    transform: rotate(-7deg);
}

.numeric {
    display: flex;
    margin-right: 20px;
}

.number {
    margin-right: 3px;
}

.square {
    width: 60px;
    height: 60px;

    border-style: solid;
    border-width: 15px;

    margin-right: 2px;
}






