body {
    background-image: url("/image/Tokio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.weather {
    display: flex;
    margin-left: 1150px;
    margin-top: 50px;
    transform: rotate(-7deg);
}

.clock {
    margin-top: 200px;
    margin-left:50%;
    display: flex;
    transform: rotate(-7deg);
}

.numeric {
    display: flex;
}

.number {
    margin-right: 3px;
}

.square {
    width: 60px;
    height: 60px;

    border-style: solid;
    border-width: 15px;

    margin-right: 2px;
}

.round {
    border-style: solid;
    border-radius: 100%;
    border-color: yellow;

    width: 5px;
    height: 5px;

    background-color: yellow;
}

#round_1 {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 15px;
}

#round_2 {
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 15px;
}

#round_3 {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 15px;
}

#round_4 {
    margin-top: 70px;
    margin-right: 20px;
    margin-left: 15px;
}







